html {
	font-family: "Helvetica", sans-serif;
	width: 100%;
	color: white;
	border: 4px solid black; 
	font-size: 18px;
}

/*=======================*/
/*Heading Styles         */
/*=======================*/

#heading {
	display: flex;
	justify-content: center;
	background-color: black;
	width: 100%;
}

.siteContainer {
	display: flex;
	align-items: center;
	width: 960px;
}

#logo {
	height: 1.5rem;
	padding-left: 0.5rem;
	padding-right: 1rem;
}

#mainHeading {
	font-size: 1rem;
	padding: 0.66rem 0;
}

/*=======================*/
/*Banner Section         */
/*=======================*/

#banner {
	background-image: url(./images/moto.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
}

.bannerHeading {
	margin-top: 9rem;
	background-color: black;
	width: 20rem;
}

.bannerHeading h2 {
	font-size: 1rem;
	font-weight: bold;	
}

.bannerHeading h3 {
	font-size: 2rem;
	font-weight: bold;
}