html {
	font-size: 18px;
}

body {
	font-family: "Helvetica", sans-serif;
	color: white;
}

.siteContainer {
	max-width: 960px;
	margin: 0 auto;
}

h1,
h4 {
	font-weight: bold;
}

/*=======================*/
/*Heading Styles         */
/*=======================*/

#heading {
	background-color: black;
}

#heading .siteContainer {
	display: flex;
	align-items: center;
	padding: .66rem 0 .66rem 0.5rem;
}

#logo {
	height: 1.5rem;
	padding-left: 0.5rem;
	padding-right: 1rem;
}



/*=======================*/
/*Banner Section         */
/*=======================*/

#banner {
	background-image: url(./images/moto.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
}

.bannerHeading {
	background-color: black;
	width: 20rem;
	position: relative; 
	top: 9rem;
	padding: 2rem 3rem;
}

.heading {
	padding: 0 3rem 0 3rem;	
}

.bannerHeading h1 {
	margin: 0.25rem;
	font-size: 2rem;
	line-height: 1.2;
}

@media only screen and (max-width: 470px) {
	#banner {
		height: 15rem
	}

	.bannerHeading {
		width: 100%;
		padding: 1rem 2rem;
		top: 10rem;
	}

	.bannerHeading h4 {
		font-size: .77rem;
	}

	.bannerHeading h1 {
		font-size: 1rem;
	}
}



/*=======================*/
/*Navigation Bar         */
/*=======================*/

#navbar {
	background-color: firebrick;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem 0;
}

.menu {
	display: none;
}

@media only screen and (max-width: 1024px) {
	nav ul {
		display: none;
	}

	.menu {
		display: block;
		text-align: center;
	}
}

/*=======================*/
/*Products Grid & Info   */
/*=======================*/

.product {
	width: 30%;
}

#productGrid,
#infoSection {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.imgWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 4px solid black;
	height: 9rem;
	padding: 2rem 0;
}

.image {
	max-width: 8rem;
}

.descriptiveText {
	display: block;
	background-color: black;
	text-align: center;
	padding: 0.5rem;
	
}

.infoColumn {
	width: 35%;
}

.infoColumn .info {
	display: block;
	padding: 1rem 2rem;
	background-color: black;
}

.infoColumn p {
	color: black;
}

#infoSection {
	margin-bottom: 5rem;
}

@media only screen and (max-width: 1024px) {
	.product {
		width: 47%;
	}

	.product.sunnies {
		display: none;
	}

	#infoSection {
		margin-bottom: 2rem;
	}
}

@media only screen and (max-width: 470px) {
	.productGrid,
	#infoSection {
		flex-wrap: wrap;
	}

	#infoSection {
		margin-bottom: 2rem;
	}

	.product {
		width: 90%;
		margin: auto;
	}

	.product.watch {
		display: none;
	}

	.infoColumn {
		width: 90%;
		margin: 0.5rem auto;
	}
}




/*=======================*/
/*Footer                 */
/*=======================*/

footer {
	display: flex;
	align-items: center;
	background-color: black;
	height: 5rem;
}









