html {
	font-family: "Helvetica", sans-serif;
	width: 100%;
	color: white;
	font-size: 18px;
}

/*=======================*/
/*Heading Styles         */
/*=======================*/

#heading {
	display: flex;
	justify-content: center;
	background-color: black;
}

#heading .siteContainer {
	display: flex;
	align-items: center;
	width: 960px;
}

#logo {
	height: 1.5rem;
	padding-left: 0.5rem;
	padding-right: 1rem;
}

#mainHeading {
	font-size: 1rem;
	padding: 0.66rem 0;
}

/*=======================*/
/*Banner Section         */
/*=======================*/

#banner {
	background-image: url(./images/moto.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
}

.bannerHeading {
	background-color: black;
	width: 25rem;
	position: relative; 
	top: 9rem;
}

.bannerHeading h2 {
	font-size: 1rem;
	font-weight: bold;	
	padding-top: 2rem;
}

.bannerHeading h3 {
	font-size: 2rem;
	font-weight: bold;
	margin-top: 0.25rem;
	padding-bottom: 3rem;
}

.heading {
	padding: 0 3rem 0 3rem;	
}

.siteContainer {
	width: 960px;
	margin: 0 auto;
}

/*=======================*/
/*Navigation Bar         */
/*=======================*/

#navbar {
	background-color: firebrick;
}

#navbar .siteContainer {
	display: flex;
	justify-content: space-between;
}

.siteContainer span {
	padding: 0.75rem 0;
}

/*=======================*/
/*Products Grid          */
/*=======================*/






